#produse {
  a{
    text-decoration: none !important;
    color:var(--text-buton) !important;
    &:hover{
      color:var(--secundar) !important;
    }
  }
  padding: 2rem;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }


  .grid-produse {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;
  }



  .produs {

    background-color: var(--text);

    color: var(--text-buton);

    border: 1px solid var(--secundar);

    border-radius: 18px;

    padding: 1.5rem;

    transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

    box-shadow: 0 0 12px rgba(0,0,0,0.12);

    overflow: hidden;

    display: flex;
    flex-direction: column;

    &:hover {
      transform: translateY(-6px);

      box-shadow: 0 0 20px rgba(0,0,0,0.18);
    }

    .titlu-prod {
      margin: 0 0 0.5rem 0;
      font-size: 1.4rem;
    }

    .categorie {
      margin: 0 0 1rem 0;
      font-size: 0.95rem;
      font-weight: 600;
    }

    .continut-prod {

      display: flex;
      gap: 1rem;
      align-items: flex-start;

      margin-bottom: 1rem;
    }



    .descriere-box {

      flex: 1;
    }



    .descriere {
      margin: 0;
      font-size: 0.95rem;
      line-height: 1.4;
      text-align: justify;
    }




      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border: 1px solid var(--secundar);
        border-radius: 10%;
        display: block;
      }




    .lista-caracteristici {

      margin: 0;
      padding-left: 1.2rem;

      li {
        margin-bottom: 0.5rem;
        line-height: 1.3;
        font-size: 0.95rem;
      }
    }
  }
}

.range-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.range-min, .range-max {
  font-weight: bold;
  min-width: 50px;
  text-align: center;
}

.slider-container {
  position: relative;
  width: 300px;
  height: 30px;
}

.slider-track{

  position:absolute;

  width:100%;

  height:8px;

  border-radius:999px;

}

.slider-container input[type="range"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: transparent;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--buton);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width:1200px) {
  .grid-produse {
    grid-template-columns: repeat(2,1fr) !important;
  }

}

@media screen and (max-width:700px) {
  .grid-produse {
    grid-template-columns: 1fr !important;
  }
  
}